nav {
  background-color: #F29F58;
  display: flex;
  position: sticky;
  top: 0;
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

body {
  background-color: #FFF0DC;
  color: #131010;
} 

body h1 {
  text-align: center;
}
